:root {
    --font: 'Old Standard', sans-serif;
}

@font-face {
    font-family: 'Old Standard';
    src: url('../fonts/OldStandardTT-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Old Standard';
    src: url('../fonts/OldStandardTT-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Old Standard';
    src: url('../fonts/OldStandardTT-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: var(--font);
}
