.input {
  font-family: var(--font);
  border-radius: 0;
  border: 1px solid #000;
  color: #000;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: .2em .5em;

  &:focus {
    background-color: transparent;
  }
}
