.container {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}

.label {
  font-family: var(--font);
  line-height: 1;
  margin-right: 1em;
}

.radio {
  border: 2px solid #000;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  &:not(:first-of-type) {
    margin-left: -2px;
  }

  input[type=radio] {
    appearance: none;
    margin: 0;
  }

  label {
    cursor: pointer;
    padding: .5em 1em;
    font-family: var(--font);
    line-height: 1;
  }
}

.selected {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
